html(lang="en")
	head
		title= pageTitle
		meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
		link(rel="stylesheet" href="../assets/css/highlight.min.css")
body
	include header
	#container
		div!=mainContent
		div!=sidebarContent
	include footer