    <div class="apidocs">
        <div id="docs-main" class="content">

            <h2>KISSY@5.0 APIs</h2>

            <ul id="api-usage">
                <li>A new api document for KISSY@5.0</p></li>
                <li>
                    On the right top , you can select api by setting 'Inherited'/'protected'/'Private'/'Deprecated'
                </li>
                <li>
                    apis which are 'bold' mean that it is not inherited , otherwhile inherited
                </li>
            </ul>
        </div>
    </div>


