    <div id="api-options">
        Show:
        <label for="api-show-inherited" optionvalue="inherited">
            <input type="checkbox" id="api-show-inherited" checked>
            Inherited
        </label>

        <label for="api-show-protected" optionvalue="protected">
            <input type="checkbox" id="api-show-protected">
            Protected
        </label>

        <label for="api-show-private" optionvalue="private">
            <input type="checkbox" id="api-show-private">
            Private
        </label>
        <label for="api-show-deprecated" optionvalue="deprecated">
            <input type="checkbox" id="api-show-deprecated">
            Deprecated
        </label>

    </div>

