#container{
	max-width: 1200px;
	min-width: 490px;
	margin: 0 5%;
	min-height: 100%;
	padding: 0;
}
#container h1{
	text-align: left;
	font-size: 20px;
	font-family: Verdana;
	color: #30418C;
	font-weight: bold;
}
#guides-lists ul{
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
#guides-lists ul li{
	width: 25%;
	float: left;
	height: 20px;
	line-height: 20px;
}