
#main-content p{
  padding: 15px 0;
}
h1{
  margin: 30px 0;
  font-size: 20px;
  font-weight: bold;
}
#main-content #editor{
  width: 100%;
  height: 800px;
  font-size: 14px;
}
#main-content #output{
  width: 100%;
  height: 800px;
}
.header{
  padding-top: 20px;
  background: #EDEDED;
}
.logo{
  float: left;
}
.logo img{
  width: 120px;
  height: 45px;
}
.search{
  float: right;
  width: 400px;
}
#header-toolbar{
  clear: both;
  padding-top: 15px;
}
h2{
  color: #30418C;
  font-size: 15px;
  font-weight: bold;
}
#guides-lists,#demos-lists{
  min-height: 300px;
  margin-top: 30px;
  padding-left: 15px;
}
#sidebar{
  margin-top: 100px;
}
#sidebar a.link-apidocs{
  width: 100%;
  margin-bottom: 20px;
}

#docs-sidebar .ks-menuitem{
  padding: 0 10px;
}
/*#sidebar a.link-apidocs:hover{
  background: #AB9CC3;
  border-color: #AB9CC3;
}*/
/*#sidebar .panel a{
  color: #716B7A;
}
#sidebar .panel{
  margin-bottom: 0px;
  margin-top: 20px;
}
#sidebar .panel-heading{
  color: #CDBFE3;
  background-color: #463265;
  border-color: #463265;
}
*/
#disqus_thread{
  margin-top: 50px;
}


/**--------------------------------hack style of google search*---------------*/

#gs_tti50{
  line-height: 20px;
}
#___gcse_0 .gsc-control-cse{
  border-color: #EDEDED;
  background-color: #EDEDED;
}
#___gcse_0 .gsc-input-box{
  height: 30px;
}
#___gcse_0 .gsib_a{
  padding: 4px 6px 0;
}
#___gcse_0 .gsc-search-button,#___gcse_0 .gsc-inline-block{
  box-sizing :content-box;
}
#___gcse_0 #gs_cb50{
  padding-top: 3px;
}